@import "../styles/global";

.triangle {
  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    label,
    .buttons-triangulo {
      grid-column: 1 / 4;
    }
  }
}
